body h1 {
    font-size: 3rem;
    margin-left: 15rem;
    font-weight: bold;
}

body h2 {
    font-size: 2rem;
    margin-left: 15rem;
    font-weight: bold;
}

body p {
    margin-left: 15rem;
}

html {
    background-color: #0f1215 !important;
}

.navbar.bg-base-100.fixed {
    background-color: rgb(29, 35, 42, 0.5);
    backdrop-filter: blur(25px);
    z-index: 200;
}

.chat.chat-start {
    margin-left: 15rem;
}

.chat.chat-end {
    margin-right: 15rem;
}

.collapse.collapse-plus.bg-base-200 {
    width: 60rem ;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 15rem;
}

button.btn.btn-primary {
    margin-left: 15rem;
    margin-top: 1rem;
}

ul.steps {
    width: 60rem;
    margin-left: 15rem;
}

.mockup-window {
    width: 60rem;
    margin-left: 15rem;
    margin-top: 1rem;
}

.input {
    margin-left: 15rem;
    margin-top: 1rem;
}

.modal {
    backdrop-filter: blur(5px);
}

/* Smaller Mobile Devices (for screens smaller than 480px) */
@media (max-width: 480px) {
    body h1 {
        margin-left: 1rem;
        font-size: 2rem;
        margin-right: 2rem;
    }

    body h2 {
        margin-left: 1rem;
        font-size: 1.5rem;
        margin-right: 2rem;
    }
    
    body p {
        margin-left: 1rem;
        margin-right: 2rem;
    }

    .collapse.collapse-plus.bg-base-200 {
        width: auto;
        margin-bottom: 1rem;
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .chat.chat-start {
        margin-left: 1rem;
    }

    .chat.chat-end {
        margin-right: 1rem;
    }

    .mockup-window {
        width: auto;
        margin-left: 1rem;
        margin-right: 2rem;
        margin-top: 1rem;
    }

    ul.steps {
        width: auto;
        margin-left: 1rem;
        margin-right: 2rem;
    }
    
    .input {
        margin-left: 1rem;
        margin-top: 1rem;
        margin-right: 1rem;
    }

    .math {
        font-size: 0.75rem;
    }
  }